<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ECommerce"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">


    <activity
        android:name="fr.montpellier.myecommerce.activity.IdentificationActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


    <!-- MERCHANT ACTIVITIES -->
    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.CreateStoreActivityM"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.MenuActivityM"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.ConsultCategoriesStoreActivityM"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.ConsultListProductsActivityM"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.ConsultProductActivityM"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.AddCategoryActivityM"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.AddProductActivityM"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.ConsultOrdersActivityM"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.ConsultOrderActivityM"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.fournisseur.AddOfferActivityM"
        android:exported="false" />



    <!-- CLIENT ACTIVITIES -->
    <activity
        android:name="fr.montpellier.myecommerce.activity.client.MenuActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.FindStoreActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.FindProductActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.ConsultStoreActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.ConsultCategoriesStoreActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.ConsultListProductsActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.ConsultProductActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.ConsultBasketActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.ConsultOrdersActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.ConsultOrderActivityC"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.client.ChooseInterestsActivityC"
        android:exported="false" />


    <!--  ACTIVITIES -->
    <activity
        android:name="fr.montpellier.myecommerce.activity.ConnectedActivity"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.ConnectedClientActivity"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.ConnectedMerchantActivity"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.ConnectedMerchantWithoutStoreActivity"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.ConnectedMerchantWithStoreActivity"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.IcoStore"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.IcoStoreActivity"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.MiddlewareActivity"
        android:exported="false" />

    <activity
        android:name="fr.montpellier.myecommerce.activity.NotConnectedActivity"
        android:exported="false" />

</application>


</manifest>